<!doctype html>
<head>
	<title>Opposites Attract</title>
	<link href="../public/css/main.css" rel="stylesheet" type="text/css">
	<link href="../public/css/bootstrap/css/bootstrap.css" rel="stylesheet">
	<script src="../public/js/jquery.js"></script>
</head>



<body>
	<div class = "container">
		<div class = "brand_text">
			<h1>Opposites attract. Love being different.</h1>
		</div>
		<div class = "row" style="border: 1px solid blue">
			<div class = "col-sm-12 hide-sm" style="border: 1px solid black" >
				<div class="row" role="search">
					<h2 id = "register">Register your interest.</h2>
			
					<form method="post" action="/signup" id="contact-form" style="border: 1px solid red" >
						<div class="inputs col-sm-10">
							<div class="col-sm-2">
								<input type= "email" class="form-control" id="email" placeholder="Enter email">
							</div>
							<div class="col-sm-2">
								<input type= "name" class="form-control" id="name" placeholder="Enter name">
							</div>
							
							<div class="col-sm-4">
								<div class= "col-sm-4">
								 	<select class="form-control">
								      <option>A man</option>
								      <option>A woman</option>
								      <option>Both</option>
								    </select>
								</div>
								<div class= "col-sm-4">   
								    <select class="form-control">
								      <option>A man</option>
								      <option>A woman</option>
								      <option>Both</option>
								    </select>
								</div>	
							</div>
							

		  					<button type="submit" class="btn btn-primary col-sm-1">Submit</button>
						</div>
					</form>
				</div>
			</div>

		</div>

		<!-- <div class="container col-sm-10 hide-sm">
  <h1>Opposites attract. Love being different</h1>
  <p>Register your interest below.</p>
  <table class="table">
    <thead>
      <tr>
        <th>Register your interest</th>
      </tr>
    </thead>
    <tbody method="post" action="/signup" id="contact-form">
      <tr>
        <td>
        	<input type= "name" class="form-control" id="name" placeholder="Enter name">
        </td>
        <td>
			<input type= "email" class="form-control" id="email" placeholder="Enter email">
        </td>
        <td>I am
			<div class= "col-sm-3">
	        	<select class="form-control">
					<option>A man</option>
					<option>A woman</option>
					<option>Both</option>
				</select>
			</div>
			<div class= "col-sm-3">
	        	<select class="form-control col-sm-3">
					<option>A man</option>
					<option>A woman</option>
					<option>Both</option>
				</select>
			</div>
        </td>
        <td>
        	<button type="submit" class="btn btn-primary">Submit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->



	</div>



	
</body>