<!DOCTYPE html>
<head>
	<title>Opposites Attract</title>
	<link href="../public/css/main.css" rel="stylesheet" type="text/css">
	<link href="../public/css/bootstrap/css/bootstrap.css" rel="stylesheet">
	<script src="../public/js/jquery.js"></script>
	<script src="../public/js/script.js" type="text/javascript" language="javascript"></script>

	<link href="//db.onlinewebfonts.com/c/668ac2105fe581bdda3e4fcf1c62933f?family=MuseoSansW01-700" rel="stylesheet" type="text/css"/>
</head>


<body>
	<!--MENU BAR - Login button-->
		<button type="button" class="btn-custom" id="login">Login</button>


	<!--TITLE -->

	<!--SIGNUP -->
	<div class = "container">

			<div class="col-sm-10 col-centered  landing-content">
				<div class="col-centered text-center">
					<h1 id="title"><span class="contrast">Opposites</span> attract</h1> 
				<br>
					<h1>Love being different.</h1>
				</div>
				<br>



				<form class="form-inline col-centered" method="post" action="/signup">
					<h4>Register your interest</h4>
					
					<div class="row">	
							
								<div class="form-group col-xs-10 col-sm-3">
									<label for="name" class="sr-only">Name</label>
									<input type="name" class="form-control" id="name" placeholder="Name">
								</div>
								<div class="form-group col-xs-10 col-sm-3">
									<label for="email" class="sr-only">Email</label>
									<input type="email" class="form-control" id="email" placeholder="Email address">
								</div>
							
								
							<div class="input-group col-xs-8 col-sm-4 row" id="preferences_group">
								<div class="form-group preferences col-xs-3" id="i_am">
									I am
								</div>
								<div class="form-group form preferences col-xs-3">
									<label for="i_am" class="sr-only"></label>
										<select class="form-control" id="gender">
											<option>a man</option>
											<option>a woman</option>
											<option>neither</option>
										</select>
								</div>
								<div class="form-group preferences col-xs-3" id="looking_for">
									looking for
								</div>
								<div class="form-group preferences col-xs-3">
									<label for="looking_for" class="sr-only"></label>
										<select class="form-control" id="pref">
											<option>a man</option>
											<option>a woman</option>
											<option>men and women</option>
										</select>
								</div>
							</div>
								<button class="btn-custom btn col-xs-2 col-sm-2" type="button" id="submit">Submit</button>
							
					</div>	

				</form>



			</div>

	</div>

</body>
</html>


		