<!doctype html>
<head>
	<title>Welcome</title>
	<link href="css/main.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap/css/bootstrap.css" rel="stylesheet">
	<script src="js/jquery.js"></script>
	<script src="js/script.js" type="text/javascript" language="javascript"></script>
</head>



<body>

	<div class = "container">

			<div class="col-sm-10 col-centered  landing-content">
				<div class="col-centered text-center">
					<h1 id="title"><span class="contrast">Opposites</span> attract</h1> 
				<br>
					<% if @name %>
						<h2>Hello <%= @name %>...</h2>
					<% else %>
						<h2>Love being different.</h2>
					<% end %>
					
				</div>
				<br>
			</div>



		<form method="post" action="/welcome" id="contact-form" class = "col-sm-8 col-centered">  <!--should action be /signup-->


			<fieldset class="form-group">
				<legend>Create a profile</legend>
			 <div class="form-group">
			   	<label for="name">Your Name</label>
			   	<input type="name" class="form-control" id="name" placeholder="Password">
			 </div>

			 <fieldset class="form-group">
				<p>Your age</p>
			 <div class="form-check">
			    <label class="form-check-label">
			      <input type="checkbox" class="form-check-input">
			      18-21
			    </label>
			  </div>
			   <div class="form-check">
			    <label class="form-check-label">
			      <input type="checkbox" class="form-check-input">
			      22-30
			    </label>
			  </div>
			   <div class="form-check">
			    <label class="form-check-label">
			      <input type="checkbox" class="form-check-input">
			      30-40
			    </label>
			  </div>
			</fieldset>

			<fieldset class="form-group">
				<p>What age are you looking for?</p>
			 <div class="form-check">
			    <label class="form-check-label">
			      <input type="checkbox" class="form-check-input">
			      18-21
			    </label>
			  </div>
			   <div class="form-check">
			    <label class="form-check-label">
			      <input type="checkbox" class="form-check-input">
			      22-30
			    </label>
			  </div>
			   <div class="form-check">
			    <label class="form-check-label">
			      <input type="checkbox" class="form-check-input">
			      30-40
			    </label>
			  </div>
			</fieldset>

			  <div class="form-group">
			    <label for="furtherInformation">Write some information about yourself.  Don't make it boring.</label>
			    <textarea class="form-control" id="information" rows="3"></textarea>
			  </div>

			  <div class="form-group">
			    <label for="exampleInputFile">Upload a profile picture</label>
			    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
			    <small id="fileHelp" class="form-text text-muted">Make sure you look nice.</small>
			  </div>
			</fieldset>
		</form>
	
	</div> <!-- container end -->
</body>