@font-face{font-family: Museo-Sans; src: url('fonts/museo_sans_w01_700.ttf');}
@import url(//db.onlinewebfonts.com/c/668ac2105fe581bdda3e4fcf1c62933f?family=MuseoSansW01-700);


body{
	font-family: Museo-Sans, Helvetica,Arial,sans-serif;
	color: #333;
}

.container{
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	/*background-color: yellow;*/

	/*#87f12b : #770ad7*/
}

.col-centered{
	float:none !important;
	margin: 0 auto;
}

.btn-custom{
	padding: 0.5em;
	border-radius: 1px;
	background-color: #ffffff;
	border: 2px solid #770ad7;
	color: #770ad7;
	font-weight: 600;
	text-transform: uppercase;
}

#login{
	float: right;
	margin-top: 1em;
	margin-right:2em;
}
 
 button.btn-custom:hover, button.btn-custom:active, button.btn-custom:focus {
  color: #87f12b !important;
  border-color: #87f12b !important;
  box-shadow: none !important;
  outline: 0 !important;
}

.landing-content{
	margin-top:8em;
}
#title{
	font-family: Museo-Sans;
	text-transform: uppercase;
	letter-spacing: 8px;
	font-weight: 700;
	font-size: 75px;
	color: #770ad7;

}

.contrast{
	background-color:#770ad7;
	color: #87f12b;
	padding:10px;
}
